@import "colors.css";

* {
    padding: 0;
    margin: 0;
    font-family: "SystemUI";
    font-size: 12px;
}

window#waybar {
    color: @base03;
    background-color: @base00;
}

window#waybar.empty {
    background-color: @base02;
}

#workspaces button {
    padding: 0 6px;
    border: none;
    border-radius: 0;
    color: @base05;
    background-color: @base02;
    background-image:
        linear-gradient(@base03, @base03),
        url("/home/gene/.config/waybar/square.png");
    background-size: 5px 5px;
    background-repeat: no-repeat;
    background-position: top left;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    border: none;
    transition: none;
    color: @base07;
    background-color: @base06;
}

#workspaces button.empty {
    background-image: none;
}

#workspaces button.active {
    color: @base03;
    background-color: @base00;
}

.modules-right {
    padding: 0 12px;
    color: @base05;
    background-color: @base02;
}
