[Desktop Entry]
Type=Application
NoDisplay=false

Name=Chromium
Exec=/usr/bin/chromium %U

Comment=Access the Internet
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer
Icon=chromium

Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/chromium --incognito
