[Desktop Entry]
Type=Application
NoDisplay=false

Name=CMake
Exec=cmake-gui %f

Comment=Cross-platform buildsystem
Categories=Development;Building;
Icon=CMakeSetup

MimeType=application/x-cmakecache;
