[Desktop Entry]
Type=Application
NoDisplay=false

Name=Dolphin
Exec=dolphin %u

Comment=Access the Internet
Categories=Qt;KDE;System;FileTools;FileManager;
Keywords=files;file management;file browsing;samba;network shares;Explorer;Finder;
Icon=org.kde.dolphin
X-DocPath=dolphin/index.html
X-DBUS-ServiceName=org.kde.dolphin
StartupWMClass=dolphin
