[Desktop Entry]
Type=Application
NoDisplay=true

Name=feh
Exec=feh --scale-down

Comment=Image viewer
Categories=Images;ImageViewer;
Keywords=image;png;gif;jpg;jpeg;viewer
