[Desktop Entry]
Type=Application
NoDisplay=false

Name=Firefox
Exec=/usr/lib/firefox/firefox %U

Comment=Browse the World Wide Web
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer
Icon=firefox
