[Desktop Entry]
Type=Application
NoDisplay=false

Name=Firefox
Exec=/usr/lib/firefox/firefox %U

Comment=Browse the World Wide Web
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer
Icon=firefox

Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=Open a New Window
Exec=firefox -new-window

[Desktop Action NewPrivateWindow]
Name=Open a New Private Window
Exec=firefox -private-window
