[Desktop Entry]
Type=Application
NoDisplay=false

Name=foot terminal
Exec=/usr/bin/foot

Comment=A wayland native terminal emulator
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;
Icon=foot
