[Desktop Entry]
Type=Application
NoDisplay=false

Name=GIMP
Exec=gimp-2.10 %U

Comment=Create images and edit photographs
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Keywords=GIMP;graphic;design;illustration;painting;
Icon=gimp
