[Desktop Entry]
Type=Application
NoDisplay=false

Name=htop
Exec=foot -e htop

Comment=Show System Processes
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
Icon=htop
