[Desktop Entry]
Type=Application
NoDisplay=false

Name=lf
Exec=foot lf

Comment=Launches the lf file manager
Categories=ConsoleOnly;System;FileTools;FileManager
Icon=utilities-terminal
