[Desktop Entry]
Type=Application
NoDisplay=false

Name=LibreOffice Calc
Exec=libreoffice --calc %U

Comment=Perform calculations, analyze information and manage lists in spreadsheets.
Categories=Office;Spreadsheet;X-Red-Hat-Base;
Keywords=Accounting;Stats;OpenDocument Spreadsheet;Chart;Microsoft Excel;Microsoft Works;OpenOffice Calc;ods;xls;xlsx;
Icon=libreoffice-calc

Actions=NewDocument;

[Desktop Action NewDocument]
Name=New Spreadsheet
Exec=libreoffice --calc
Icon=document-new
