[Desktop Entry]
Type=Application
NoDisplay=false

Name=LibreOffice Impress
Exec=libreoffice --impress %U

Comment=Create and edit presentations for slideshows, meetings and Web pages.
Categories=Office;Presentation;X-Red-Hat-Base;
Keywords=Slideshow;Slides;OpenDocument Presentation;Microsoft PowerPoint;Microsoft Works;OpenOffice Impress;odp;ppt;pptx;
Icon=libreoffice-impress

Actions=NewDocument;

[Desktop Action NewDocument]
Name=New Presentation
Exec=libreoffice --impress
Icon=document-new
