[Desktop Entry]
Type=Application
NoDisplay=false

Name=mpv
Exec=mpv --player-operation-mode=pseudo-gui -- %U

Comment=Play movies and songs
Categories=AudioVideo;Audio;Video;Player;TV;
Keywords=mpv;media;player;video;audio;tv;
Icon=mpv
