[Desktop Entry]
Type=Application
NoDisplay=false

Name=ncmpcpp
Exec=(pidof ncmpcpp && hyprctl dispatch focuswindow initialtitle:ncmpcpp) || foot --title "ncmpcpp" -e ncmpcpp

Comment=Play music from mpd
Keywords=music;player;client;
