[Desktop Entry]
Type=Application
NoDisplay=false

Name=ncmpcpp
Exec=/home/gene/.scripts/hypr/shortcuts/ncmpcpp.sh

Comment=Play music from mpd
Keywords=music;player;client;
