[Desktop Entry]
Type=Application
NoDisplay=false

Name=neovim
Exec=foot -e nvim %U

Comment=Edit text files
Categories=Utility;TextEditor;
Keywords=Text;editor;
Icon=nvim
