[Desktop Entry]
Type=Application
NoDisplay=false

Name=neovim
Exec=foot nvim

Comment=Edit text files
Categories=Utility;TextEditor;
Keywords=Text;editor;
Icon=nvim

MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
