[Desktop Entry]
Type=Application
NoDisplay=false

Name=Spek
Exec=spek %f

Comment=View spectrograms of your audio files
Categories=AudioVideo;Audio;
Icon=spek
