[Desktop Entry]
Type=Application
NoDisplay=false

Name=Thunderbird
Exec=/home/gene/.scripts/hypr/shortcuts/thunderbird.sh

Comment=Browse your email
Categories=Network;Email;
Keywords=Email;Browser;Explorer
Icon=org.mozilla.Thunderbird

Actions=ComposeMessage;OpenAddressBook;

[Desktop Action ComposeMessage]
Name=Write new message
Exec=thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Exec=thunderbird -addressbook
