[Desktop Entry]
Type=Application
NoDisplay=false

Name=VLC
Exec=/usr/bin/vlc --started-from-file %U

Comment=Read, capture, broadcast your multimedia streams
Categories=AudioVideo;Player;Recorder;
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
Icon=vlc
