[Desktop Entry]
Type=Application
NoDisplay=false

Name=Yubico Authenticator
Exec=/home/gene/.local/bin/yubico_authenticator/authenticator

Categories=Utility;
Keywords=Yubico;Authenticator;
Icon=/home/gene/.local/bin/yubico_authenticator/linux_support/com.yubico.yubioath.png
