base00 - Default Background
base01 - Lighter Background
base02 - Darker Background
base03 - Default Text
base04 - Text on Lighter Background
base05 - Text on Darker Background
base06 - Accent Color
base07 - Text on Accent Color
